<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>🍺Atenas Atacado🍺</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<header class="hero">
<h1>Catálogo</h1>
</header>

<div class="menu">
<a href="/">Todos</a>
<a href="/?cat=Destilados">Destilados</a>
<a href="/?cat=Whisky">Whisky</a>
<a href="/?cat=Vinhos">Vinhos</a>
<a href="/?cat=Gin">Gin</a>
<a href="/?cat=Mercearia">Mercearia</a>
<a href="/?cat=Tabacaria">Tabacaria</a>
<a href="/login" class="admin-btn">
🍺 Admin
</a>
</div>

<div class="grid">
{% for p in produtos %}
<div class="card">
<img src="{{url_for('static',filename='uploads/'+p.imagem)}}">
<div class="overlay">
<h3>{{p.nome}}</h3>
<span>R$ {{p.preco}}</span>
</div>
</div>
{% endfor %}
</div>
</body>
</html>